@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', arial ;
    scroll-behavior: smooth;
}
/*Top button*/
.top{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: #0c8775;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.top a{
    color: #fff;
}

/*opacity*/
.opacity{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgb(23, 23,23,0.75);
    

}
/*Header*/
header{
    background-color: #0c8775;
    display: flex;
    justify-content: space-between;
    padding:0 1.5rem;
    position:fixed;
    width: 100%;
    align-items: center;
    height: 9vh;
    color: #fff;
    z-index: 9;
}

/* main section */
.main-wrapper{
    background: url(./source/background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}
.main-section{
    z-index: 3;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.buttons{
    z-index: 3;
}
.buttons button{
    padding: 0.9rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.button1 button{
    background-color: #0c8775;
    color: #fff;
    transition: all 0.3s ease-in-out;
}


.button2 button{
    color: #0c8775;
    transition: all 0.3s ease-in-out;
}

.button1 button:hover{
    background-color: #fff;
    color: #0c8775;

}

.button2 button:hover{
    background-color: #0c8775;
    color: #fff;

}

.buttons button a{
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 18rem;
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover{
    color:black;
}


/*Project section*/


.projects-wrapper{
    height: 100vh;
    background-color: rgba(23, 23,23,1);
    overflow: hidden;
    color: #fff;
    text-align: center;
    border-bottom: solid 5px #0c8775;
    overflow: hidden;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    width: 100%;
    grid-gap: 30px
}


.card{
    height: 300px;
    width: 300px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    border-radius: 12px;
    margin: 0 auto;
}

.card img{
    height: 75%;
    width: auto;
   transition: all 0.3s ease-in-out;
}

.card img:hover {
    transform: scale(1.2);
}

.card a{
    text-decoration: none;
    color: #0c8775;
    font-weight: 600;
}

.projects-wrapper h1{
    margin: 30px 0;

}

.more-projects{
    background-color: #0c8775;
    border: none;
    color: #fff;
    padding: 0.75rem;
    cursor: pointer;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    overflow: hidden;

}


.more-projects:hover{
    background-color: #fff;
    color: #0c8775;
    

}


/*Hire me section*/
.hire-me-wrapper{
    height: 100vh;
    background-color: rgba(23, 23, 23, 1);
    color: #fff;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hire-me-wrapper h1{
    margin: 12px 0;
    font-size: 1.8rem;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    height: 40vh;
}


.form form input{
    padding: 15px;
    border-radius: 9px;
    border: none;
    transition: all 0.3s ease-in-ou
}


.form form input:focus{
    box-shadow: 0 0 3px 6px #0c8775;
}



.form form textarea{
    padding: 12px;
    border-radius: 9px;
    border: none;
    transition: all 0.3s ease-in-ou
}

.form form textarea:focus{
    box-shadow: 0 0 3px 6px #0c8775;
}

.form form button{
    background-color: #0c8775;
    border: none;
    padding: 9px;
    margin: 6px;
    border-radius: 9px;
}

.form form button:hover{
    background-color: #fff;
    color: #0c8775;
    transition: all 0.3s ease-in-out;
}


footer{
    background-color: #0c8775;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}


footer i{
    margin-right: 15px;
}

footer a{
    color: #fff;
}

.form form button{
    height: 40px;
    width: 80px;
    align-items: center;
}
@media screen and (max-width: 480px){

    .logo{
        font-size: 0.9rem;
    }

    nav ul{
        font-size: 0.9rem;
        width: 12rem;
    }

    .main-section p{
        font-size: 1.8rem;
    }

    .card{
        width: 20px;
        height: 30px;
    }
    .hire-me-wrapper h1{
        font-size: 2.1rem;
    }
}